<!DOCTYPE html>
<html lang="en">

<head>
 <%- include('./partials/head.ejs') %>
</head>

<body>

    <div class="blogs content">
        <h1>404 - Page not Found</h1>
    </div>
   <%- include('./partials/footer.ejs') %>
</body>

</html>
