<!DOCTYPE html>
<html lang="en">

<head>
 <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>About Us</h2>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel ipsum perspiciatis culpa, odit non minus quas
            sunt consequatur autem cum assumenda dolorem. Repellendus voluptatem unde tenetur, eaque nam id ducimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem asperiores odio vel suscipit enim. Repudiandae,
            omnis consequuntur placeat nulla vel commodi, eum totam molestias, iure minus ut quidem aut accusantium.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
